

@charset "UTF-8";
/*　基本の設定*/

body{
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
  }

  section,article,aside,nav,header,main,footer{display:block;}

  h1,h2,h3,h4{
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
  }

  ul, li {
    margin:0;
    padding:0;
    list-style: none;
    text-align: center;
  }

  /*ヘッダー*/
  header{
    width: 60%;
    padding: 2em 2em;
    margin:2em auto ;
    background-color: #a22041;
    position: relative;
    text-align:center;
      }

  header nav{
    padding:1em 4em;
    margin:0em auto ;
    width: 60%;
    position: absolute;
    top: 0;
    }

header nav ul{
  width:100%;
  margin:0.5em 10em;
}

header nav ul li{
  display: inline-block;
  }

header nav ul li a {
   color: yellow;
   font-family:"Montserrat",sans-serif;
   font-size:15px;
   padding:0 1em;
   text-decoration: none;
}

header nav ul li a:hover {color:white;}


/*メイン*/
main{
  width:60%;
  padding: 1px 2em;
  margin: 0em auto;
  background-color: #ffd900;

}

div.topillust{
  width:100%;
  color:red;
  margin: 0 auto;
  min-height: 100%;
  overflow:hidden;
  }

div.topillust h1{
    text-align: center;
    font-size: 40pt;
    color:#a22041;
    padding:0;
    margin:10px;
    }

div.topillust p{
    text-align: center;
    color:#a22041;
    font-size:20pt;
    margin:10px;
    }

div #go {
  float:left;
  width: 20%;
  height:100%;
  padding-bottom:32767px;
  margin-bottom:-32767px;
    }


div #go img{
  width:100%;
  height:100%;
  margin-top: 40em;
  margin-left: 10em;
}

div #imagemaparea {
    float: right;
    width:80%;
    height:100%;
    padding-bottom:32767px;
    margin-bottom:-32767px;
    }




#imagemaparea:hover~#go img {
  background-color: blue;
}


.clear{
  clear:both
}

/*div.topillust img{
  width:100%;
  height:100%;
}*/
